<h1>集群名称: <b><%= fmt_string(cluster_name.name) %></b></h1>

<p>
  集群名可由客户端使用以识别集群在连接中，并由插件使用来标识消息已通过哪些集群。
</p>
<p>
  注意，在连接中向客户机通知集群名称。服务器属性；如在身份验证之前地点。因此，它不应该被认为是秘密的。
</p>
<p>
  群集名称默认由第一个在群集中的节点名称生成，但可以更改。
</p>

<div class="section-hidden">
  <h2>修改名称</h2>
  <div class="hider">
    <form action="#/cluster-name" method="put">
      <table class="form">
        <tr>
          <th><label>名称:</label></th>
          <td><input type="text" name="name" value="<%= fmt_string(cluster_name.name) %>"/><span class="mand">*</span></td>
        </tr>
      </table>
      <input type="submit" value="修改名称"/>
    </form>
  </div>
</div>
